input[type=text] {
    background-color: #06557a;
    color: white;
    margin: 4px 2px;
  }
  input[type=number] {
    background-color: #003049;
    color: white;
    margin: 4px 2px;
  }

  input[type=button], input[type=submit], input[type=reset] {
    background-color: #e85d04;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    
  }
  button[type=button]{
    background-color: #e85d04;
    border: none;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  #comprobar{
    background-color: #e85d04;
  }
  body{
      background-color: #eae2b7;
      text-align: center;
  }
  input[type=submit].disabled{
    background-color: #fcbf49;  
    
  }
  input[type=submit].disabled#comprobar{
    background-color: #fcbf49;  
    
  }
  